<li>
  <a
  style="cursor: pointer"
  class="list-group-item clearfix"
  [routerLink]="['/products',product.category,  product.id]"
  routerLinkActive="active"
>
  <div class="card">
    <div class="card-body">
      <img [src]="product.image" />
      <div class="info-container">
        <div class="info-container-inner">
          <span class="icon"
            ><i class="material-icons">info_outline</i></span
          >
          <div class="details">
            <div class="detail-item"><label>Width</label> 3000mm</div>
            <div class="detail-item"><label>Height</label> 4000mm</div>
            <div class="detail-item"><label>Width</label> 3000mm</div>
            <div class="detail-item"><label>Height</label> 4000mm</div>
            <div class="detail-item"><label>Width</label> 3000mm</div>
            <div class="detail-item"><label>Height</label> 4000mm</div>
            <div class="detail-item"><label>Width</label> 3000mm</div>
            <div class="detail-item"><label>Height</label> 4000mm</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="price-container">
        <h3>{{ product.title }}</h3>
        <p>${{product.price}}</p>
      </div>
      <!-- <div class="button-group">
        <button><i class="fas fa-cart-plus"></i></button>
      </div> -->
    </div>
  </div>
</a>
</li>